a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding: 0;
}
*img {display:block;}
ul,ol{
 margin:0;
 padding:0;
}
p{margin:0;
padding: 0;}
body {font-family:'Roboto', sans-serif;}
button {border:none ;}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right:15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
/* шапка */
.header { 
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}
.contact-icon{
  margin-right: 10px;
  
}
.logo {font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:#2196F3;
margin-right: 93px;}
.header-studio {color: #212121;}
.footer-studio {color: #FFFFFF;}
.site-naw a {
#212121
}
.site-naw {display: flex;
align-items: center;}
.site-naw-li:not(:last-child){
  margin-right: 50px;
}
.contact-li:not(:last-child){
margin-right: 50px;
}
.contact-svg{margin-right:10px;
 
}
.site-naw a {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;}
.site-naw a:hover,
.site-naw a:focus {
  color: #2196f3;
}
.contact{display: flex;
align-items: center;
margin-left: auto;
}
.contact-a {
background-image: ;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
fill: #757575;
}
.contact-a:hover,
.contact-a:focus {
  color: #2196f3;
  fill: #2196f3;
}
/* меню */
.herou {
  background-image:linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
    url('../img/Img-personal.png');
  
  text-align: center;
  background-color:#C4C4C4;
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height:600px;
  
  }
h1 {
font-family:'Roboto', sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
}
.button {
font-family:'Roboto', sans-serif;
font-weight: bold;
font-size: 16px;
line-height:1.88;
display: block
align-items: center;
letter-spacing: 0.06em;
color: #ffffff;
background-color: #2196f3;
cursor: pointer;
padding: 10px 32px;
border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.arguments-li{min-width: 270px;}
.arguments-li:not(:last-child){
  margin-right: 30px;
  
}
.arguments {display: flex;
  align-items: center;
}
.arguments h4 {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#212121;
margin-bottom: 10px;
}
.arguments p {
font-weight: normal;
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
color: #757575;
}
.arguments-li::before{
  display: block;
  content: "";
  height:120px;
  padding: 25px 100px;
  background-repeat: no-repeat;
  background-size: padding: 25px 100px;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom:30px;
  }
.arguments-li:nth-child(1)::before{
  background-image: url("../img/antennaa.svg");
}
.arguments-li:nth-child(2)::before{
  background-image: url("../img/clock.svg");
}
.arguments-li:nth-child(3)::before{
  background-image: url("../img/diagram.svg");
}
.arguments-li:nth-child(4)::before{
  background-image: url("../img/astronaut.svg");
}

.antenna 
.section-padding{
  padding-top: 0;
}
h2 {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
   }
.img-ul{display: flex;
align-items: center;}
.img-li:not(:last-child){
  margin-right: 30px;
}
.team{
  display: flex;
  align-items: center;
}
.section-team {background-color: #F5F4FA;}
.team-li:not(:last-child){
  margin-right: 30px;
}
.team-li {
  box-shadow: 0px 2px 1px 0px #00000033,0px 1px 1px 0px #00000024,0px 1px 3px 0px #0000001F;
    background-color: #FFFFFF;
}

.name  {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 10px;
}
.profession {
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color:#757575;
margin-bottom: 16px;
}
.team-h-p{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.social-icons{
  display: flex;
}
.social-list-item:not(:last-child){margin-right: 10px;}
.social-icon-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-icon-list:hover,
.social-icon-list:focus {
  fill: #FFFFFF;
  background-color: #2196F3 ;
}
.social-icon-list{
  fill: #AFB1B8;
}
.client{
  padding-top: 94px;
   justify-content: center;
  align-items: center;
}
.client-a{
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8 ;
  cursor: pointer;
  fill:#AFB1B8;
  align-items: center;
  justify-content: center;
}
.client-a:hover,
.client-a:focus {
  fill: #2196F3;
  border-color: #2196F3;
}
.client-li{
  
}
.client-ul{
  display: flex;
  
}
.client-li:not(:last-child){
  margin-right: 30px;
  
}
.client-svg{

}
/* подвал */

.footer-studio {color: #FFFFFF;}
.physical-addres  {
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.addres-li:not(:last-child){
  margin-bottom: 9px;
}
.addres-li:first-child {
  margin-top: 20px;
}
.footer-contact {
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer {background-color:  #2F303A;
padding-top: 60px;
padding-bottom: 60px;}
/* портфолио */
.li-button-portfolio :hover,
.button-portfolio  :focus {
  background-color:#2196F3;
  color: #FFFFFF;
}
.button-portfolio-ul {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 50px;
}
.button-portfolio {
  padding: 6px 22px;
  font-family:'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  
  letter-spacing: 0.03em;
  cursor: pointer;
  
}
.button-portfolio-ul :not(:last-child){
  margin-right: 8px;
}
.li-button-portfolio {
  text-align: center;
}
h3 {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin-bottom: 4px;
}
.main {
  display: flex;
  flex-wrap: wrap;
}
.main p {
font-weight: normal;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
}

.main-li:not(:nth-child(n+7)){
  margin-bottom: 30px;
}
.main-li:not(:nth-child(3n+0)){
  margin-right: 30px;
}
.main-h-p{
  padding: 20px 24px;
  border: 1px solid #EEEEEE}

  h5{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
  }
  /* .footer-icons:not(:last-child){
    margin-right: 10px;
  } */
.join {
 display: block;
 padding-top: 12px;
}
.logo-and-addres{
display: block;
margin-right: 70px;
}
.footer-too{
  display:flex
}
.social-icon-list-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color:#FFFFFF1A;
  fill: #FFFFFF;
}
.social-icon-list-footer:hover,
.social-icon-list-footer:focus{
  background-color: #2196F3;
  fill: #FFFFFF;
}
.main-li:hover,
.main-li:focus{
  box-shadow: 1px 4px 6px 0px #00000029,0px 4px 4px 0px #0000000F,0px 1px 1px 0px #0000001F;
}